.wrap{
    position:relative;
    width:700px; height:700px;
    margin:0 auto;
}
.wrap a{
    position:absolute;
    left:0; top:0;
    border-radius:50%;
}
a div{
    height:100%;
    border-radius:inherit;
}